
Unity_Project/Library/

Unity_Project/Logs/

Unity_Project/Assets/BildExport/*

!Unity_Project/Assets/BildExport/Exported-Kopf-CT.txt

!Unity_Project/Assets/BildExport/Exported-Kopf-CT.txt.meta


Unity_Project/Assets/BildAssets/

.vscode/

Unity_Project/.vscode/

Unity_Project/Assembly-CSharp.csproj

Unity_Project/Assembly-CSharp-Editor.csproj

Unity_Project/Temp/
